body{
    background-color: black;
    margin: 5rem;
}

main{
    background-color: black;
    font-family: aviano-future;
    
}
p{
    color:chartreuse;
    font-size: 2rem;
}

img{
    width:30vw;
    height: 15vh;
    object-fit:cover;
}